<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nbpl.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D7F9CAE6C366A57CD13D48658B171717DF4FD1F2</string>
				<key>dateExpires</key>
				<string>09/03/23</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F9CAE6C366A57CD13D48658B171717DF4FD1F2</string>
						<key>dateExpires</key>
						<string>09/03/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QK2Y5JN4W9</string>
						<key>name</key>
						<string>Nexdha Fintech LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F9CAE6C366A57CD13D48658B171717DF4FD1F2</string>
						<key>dateExpires</key>
						<string>09/03/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BLTNBoard.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QK2Y5JN4W9</string>
						<key>name</key>
						<string>Nexdha Fintech LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F9CAE6C366A57CD13D48658B171717DF4FD1F2</string>
						<key>dateExpires</key>
						<string>09/03/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DynamicBottomSheet.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QK2Y5JN4W9</string>
						<key>name</key>
						<string>Nexdha Fintech LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F9CAE6C366A57CD13D48658B171717DF4FD1F2</string>
						<key>dateExpires</key>
						<string>09/03/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QK2Y5JN4W9</string>
						<key>name</key>
						<string>Nexdha Fintech LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F9CAE6C366A57CD13D48658B171717DF4FD1F2</string>
						<key>dateExpires</key>
						<string>09/03/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QK2Y5JN4W9</string>
						<key>name</key>
						<string>Nexdha Fintech LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F9CAE6C366A57CD13D48658B171717DF4FD1F2</string>
						<key>dateExpires</key>
						<string>09/03/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxGesture.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QK2Y5JN4W9</string>
						<key>name</key>
						<string>Nexdha Fintech LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F9CAE6C366A57CD13D48658B171717DF4FD1F2</string>
						<key>dateExpires</key>
						<string>09/03/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxRelay.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QK2Y5JN4W9</string>
						<key>name</key>
						<string>Nexdha Fintech LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F9CAE6C366A57CD13D48658B171717DF4FD1F2</string>
						<key>dateExpires</key>
						<string>09/03/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QK2Y5JN4W9</string>
						<key>name</key>
						<string>Nexdha Fintech LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F9CAE6C366A57CD13D48658B171717DF4FD1F2</string>
						<key>dateExpires</key>
						<string>09/03/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QK2Y5JN4W9</string>
						<key>name</key>
						<string>Nexdha Fintech LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F9CAE6C366A57CD13D48658B171717DF4FD1F2</string>
						<key>dateExpires</key>
						<string>09/03/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QK2Y5JN4W9</string>
						<key>name</key>
						<string>Nexdha Fintech LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F9CAE6C366A57CD13D48658B171717DF4FD1F2</string>
						<key>dateExpires</key>
						<string>09/03/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TTGSnackbar.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QK2Y5JN4W9</string>
						<key>name</key>
						<string>Nexdha Fintech LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F9CAE6C366A57CD13D48658B171717DF4FD1F2</string>
						<key>dateExpires</key>
						<string>09/03/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Then.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QK2Y5JN4W9</string>
						<key>name</key>
						<string>Nexdha Fintech LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>QK2Y5JN4W9.nexpay.nbpl</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>QK2Y5JN4W9</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>nbpl.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>67c22125-8870-4faa-88dd-651c3015c15f</string>
				<key>dateExpires</key>
				<string>09/03/23</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: nexpay.nbpl</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>QK2Y5JN4W9</string>
				<key>name</key>
				<string>Nexdha Fintech LLP</string>
			</dict>
			<key>versionNumber</key>
			<string>1.1</string>
		</dict>
	</array>
</dict>
</plist>
