<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NexdhaPay.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>8</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D7F9CAE6C366A57CD13D48658B171717DF4FD1F2</string>
				<key>dateExpires</key>
				<string>09/03/23</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F9CAE6C366A57CD13D48658B171717DF4FD1F2</string>
						<key>dateExpires</key>
						<string>09/03/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QK2Y5JN4W9</string>
						<key>name</key>
						<string>Nexdha Fintech LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>5.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F9CAE6C366A57CD13D48658B171717DF4FD1F2</string>
						<key>dateExpires</key>
						<string>09/03/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BLTNBoard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QK2Y5JN4W9</string>
						<key>name</key>
						<string>Nexdha Fintech LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F9CAE6C366A57CD13D48658B171717DF4FD1F2</string>
						<key>dateExpires</key>
						<string>09/03/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CFNetworkSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QK2Y5JN4W9</string>
						<key>name</key>
						<string>Nexdha Fintech LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.13</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F9CAE6C366A57CD13D48658B171717DF4FD1F2</string>
						<key>dateExpires</key>
						<string>09/03/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CashfreeAnalyticsSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QK2Y5JN4W9</string>
						<key>name</key>
						<string>Nexdha Fintech LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.15</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F9CAE6C366A57CD13D48658B171717DF4FD1F2</string>
						<key>dateExpires</key>
						<string>09/03/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CashfreePG.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QK2Y5JN4W9</string>
						<key>name</key>
						<string>Nexdha Fintech LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F9CAE6C366A57CD13D48658B171717DF4FD1F2</string>
						<key>dateExpires</key>
						<string>09/03/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CashfreePGCoreSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QK2Y5JN4W9</string>
						<key>name</key>
						<string>Nexdha Fintech LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F9CAE6C366A57CD13D48658B171717DF4FD1F2</string>
						<key>dateExpires</key>
						<string>09/03/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CashfreePGUISDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QK2Y5JN4W9</string>
						<key>name</key>
						<string>Nexdha Fintech LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F9CAE6C366A57CD13D48658B171717DF4FD1F2</string>
						<key>dateExpires</key>
						<string>09/03/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DTGradientButton.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QK2Y5JN4W9</string>
						<key>name</key>
						<string>Nexdha Fintech LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F9CAE6C366A57CD13D48658B171717DF4FD1F2</string>
						<key>dateExpires</key>
						<string>09/03/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DynamicBottomSheet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QK2Y5JN4W9</string>
						<key>name</key>
						<string>Nexdha Fintech LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F9CAE6C366A57CD13D48658B171717DF4FD1F2</string>
						<key>dateExpires</key>
						<string>09/03/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QK2Y5JN4W9</string>
						<key>name</key>
						<string>Nexdha Fintech LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>3.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F9CAE6C366A57CD13D48658B171717DF4FD1F2</string>
						<key>dateExpires</key>
						<string>09/03/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MBCircularProgressBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QK2Y5JN4W9</string>
						<key>name</key>
						<string>Nexdha Fintech LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>0.3.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F9CAE6C366A57CD13D48658B171717DF4FD1F2</string>
						<key>dateExpires</key>
						<string>09/03/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QK2Y5JN4W9</string>
						<key>name</key>
						<string>Nexdha Fintech LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F9CAE6C366A57CD13D48658B171717DF4FD1F2</string>
						<key>dateExpires</key>
						<string>09/03/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxGesture.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QK2Y5JN4W9</string>
						<key>name</key>
						<string>Nexdha Fintech LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F9CAE6C366A57CD13D48658B171717DF4FD1F2</string>
						<key>dateExpires</key>
						<string>09/03/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxRelay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QK2Y5JN4W9</string>
						<key>name</key>
						<string>Nexdha Fintech LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F9CAE6C366A57CD13D48658B171717DF4FD1F2</string>
						<key>dateExpires</key>
						<string>09/03/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QK2Y5JN4W9</string>
						<key>name</key>
						<string>Nexdha Fintech LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F9CAE6C366A57CD13D48658B171717DF4FD1F2</string>
						<key>dateExpires</key>
						<string>09/03/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QK2Y5JN4W9</string>
						<key>name</key>
						<string>Nexdha Fintech LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>5.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F9CAE6C366A57CD13D48658B171717DF4FD1F2</string>
						<key>dateExpires</key>
						<string>09/03/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SocketIO.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QK2Y5JN4W9</string>
						<key>name</key>
						<string>Nexdha Fintech LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>15.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F9CAE6C366A57CD13D48658B171717DF4FD1F2</string>
						<key>dateExpires</key>
						<string>09/03/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Starscream.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QK2Y5JN4W9</string>
						<key>name</key>
						<string>Nexdha Fintech LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>3.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F9CAE6C366A57CD13D48658B171717DF4FD1F2</string>
						<key>dateExpires</key>
						<string>09/03/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QK2Y5JN4W9</string>
						<key>name</key>
						<string>Nexdha Fintech LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F9CAE6C366A57CD13D48658B171717DF4FD1F2</string>
						<key>dateExpires</key>
						<string>09/03/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TTGSnackbar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QK2Y5JN4W9</string>
						<key>name</key>
						<string>Nexdha Fintech LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>1.11.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F9CAE6C366A57CD13D48658B171717DF4FD1F2</string>
						<key>dateExpires</key>
						<string>09/03/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Then.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QK2Y5JN4W9</string>
						<key>name</key>
						<string>Nexdha Fintech LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F9CAE6C366A57CD13D48658B171717DF4FD1F2</string>
						<key>dateExpires</key>
						<string>09/03/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>WXImageCompress.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QK2Y5JN4W9</string>
						<key>name</key>
						<string>Nexdha Fintech LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.3</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>QK2Y5JN4W9.nexpay.nbpl</string>
				<key>com.apple.developer.team-identifier</key>
				<string>QK2Y5JN4W9</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>NexdhaPay.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7dcccc33-e5db-4af6-8ab4-ea3a92e1ada1</string>
				<key>dateExpires</key>
				<string>09/03/23</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: nexpay.nbpl</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>QK2Y5JN4W9</string>
				<key>name</key>
				<string>Nexdha Fintech LLP</string>
			</dict>
			<key>versionNumber</key>
			<string>2.1</string>
		</dict>
	</array>
</dict>
</plist>
